/*
https://github.com/s9a/cab
*/
.cab-wet:not(.cab-dry),
.cab-wet :not(.cab-dry) { background: none; color: inherit }
.cab-am { background: var(--cab-vibe) !important; color: var(--cab-ink) !important }
.cab-pm { background: var(--cab-ink) !important; color: var(--cab-vibe) !important }
.cab-ave { --cab-vibe: snow; --cab-ink: #212; --cab-ratio: 17.33 }
.cab-sun { --cab-vibe: yellow; --cab-ink: #212; --cab-ratio: 16.69 }
.cab-sup { --cab-vibe: yellow; --cab-ink: #718; --cab-ratio: 8.8 }
.cab-curb { --cab-vibe: #cab; --cab-ink: #212; --cab-ratio: 8.56 }
.cab-river { --cab-vibe: #bff; --cab-ink: #718; --cab-ratio: 8.49 }
.cab-fresh { --cab-vibe: chartreuse; --cab-ink: #646; --cab-ratio: 6.27 }
.cab-rush { --cab-vibe: snow; --cab-ink: #917; --cab-ratio: 7.51 }
.cab-gush { --cab-vibe: snow; --cab-ink: #929; --cab-ratio: 6.67 }
.cab-park { --cab-vibe: #bff; --cab-ink: #332; --cab-ratio: 11.51 }
.cab-wave { --cab-vibe: snow; --cab-ink: #347; --cab-ratio: 9.08 }
.cab-heat { --cab-vibe: coral; --cab-ink: #212; --cab-ratio: 7.17 }
.cab-flag { --cab-vibe: coral; --cab-ink: navy; --cab-ratio: 6.4 }
